{% extends "base.html" %} {% block title %} 学生成绩表 {% endblock %} {% block content %}
<div>
    <h3 class="text-center">学生成绩表</h3>
    <form class="row g-3" action="/show_excel/" method="post">
        {% csrf_token %}
        <div class="col-auto">
            <label for="keyword" class="visually-hidden">Password</label>
            <input type="text" class="form-control" id="keyword" name="keyword" placeholder="请输入查询条件" value="{{ keyword }}" />
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">查询</button>
        </div>
    </form>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">学号</th>
                <th scope="col">姓名</th>
                <th scope="col">语文</th>
                <th scope="col">数学</th>
                <th scope="col">英语</th>
            </tr>
        </thead>
        <tbody>
            {% for index, item in df.iterrows %}
            <tr>
                <th scope="row">{{ item.学号 }}</th>
                <td>{{ item.姓名 }}</td>
                <td>{{ item.语文 }}</td>
                <td>{{ item.数学 }}</td>
                <td>{{ item.英语 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
